@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, 'sans-serif';
}


#app {
display: flex;
justify-content: space-between;
margin: 15px;
gap: 10px;

}

/* MENU  */

.navigation {
  margin-right: 35px;
}

.navigation-list li {
padding: 25px;
text-align: center;
list-style:none;
}

.navigation-list i {
 color: #B4BCCF;
}

.navigation-list li:nth-child(1){
  background-color: rgba(255, 138, 0, 1);
  box-shadow: 0px 4px 15px rgba(255, 138, 0, 0.25);
border-radius: 15px;
}

.navigation-list i:hover {
  color:rgba(255, 138, 0, 1)
}



/* MAIN  */

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 26px;

}

.main__search {
  position: relative;
}

.main__search input {
background-color: #B4BCCF;
border: none;
padding: 15px 60px;
border-radius: 15px;

}

input:focus {
outline:none ;
}

.main__search i {
  position: absolute;
  top: 15px;
  left: 35px;

  z-index: 1;
}


.main__news { 
  background-color: #2F2F2F;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:#FFFFFF;

}

.news__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  gap: 40px;
  padding: 15px;
}

.news__text p {

width: 95%;
line-height: 144.69%;
letter-spacing: 0.03em;
}

.news__text button {
background: rgba(255, 153, 33, 1);
border: none;
width: 201px;
height: 60px;
border-radius: 20px;

font-weight: 700;
font-size: 24px;
line-height: 144.69%;
letter-spacing: 0.03em;
color: #FFFFFF;
}

.news__text span {
  color:rgba(255, 153, 33, 1);
}







/* ORDER SECTION  */

.login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.login__user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;


}

.user__info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-section {
  width: 553px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login__card {
  width: 211px;
  height: 100px;
  background: linear-gradient(102.04deg, #FF9921 25.28%, #FFCB8E 96.04%), #2F2F2F;
box-shadow: 2px 5px 40px rgba(255, 153, 33, 0.2);
border-radius: 35px;
}

.login__card::before {
  content: '';
  width: 211px;
  height: 100px;
  position: absolute;
  background: linear-gradient(0deg, #2F2F2F, #2F2F2F), #2F2F2F;
border-radius: 35px;
transform: rotate(-6.92deg);
z-index: -1;

}






/* OUR MENU  */

.main__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 35px;
  margin-bottom: 40px;
}

.menu__item {
  display: flex;
  align-items: center;
  padding: 5px;
  width: 7em;
background: #FFFFFF;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
border-radius: 25px;
cursor: pointer;
}

.menu__item p {
  font-weight: bold;
  margin-left: 13px;

}









/* ORDER ITEM  */

.order-list {
  overflow-y: hidden;
}


.order-item{ 
display: flex;
justify-content: center;
align-items: center;
box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.1);
border-radius: 30px;

}

.order__img img {
  border-radius: 10%;
}